



<div class="container-fluid module">
    <div class="module-inside">
        <h1 class="display-1">Mongo Scraper</h1>

        <h3>New York Times Edition</h3>
    </div>
</div>



<div class="container">
    <div id="divContent">

    </div>
</div>


<script src="/js/index.js"></script>











