    
    <style>

        .save-btn{
            line-height: 10px !important;
        }

        .article_row{
            margin-bottom: 50px;
        }

    </style>


    <h1>Hello World</h1>

    <div id="divContent">

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{!-- <script defer type="text/javascript" src="/public/js/app.js"></script> --}}


    <script src="/js/index.js"></script>