
    
    <style>

        
        .content-div{
            margin-bottom: 50px;
            background-color: #2756f0 ;
            
        }

        .content-div, a, span {
            color: #fefefe
        }

        .add-note,.unsave-btn{
            line-height: 10px !important;
            margin-bottom: 5px;
            color: black
        }

    </style>


<h1>In Saved</h1>


<div id="divContent">
    
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    function displayScrappedDocuments(result){

        $("#divContent").empty();

        console.log("In display scrapped documents");

        console.log(result);

        var data = result;

        

        for(var i = 0; i < data.length; i++){

            var row = $("<div>");
            
            $(row).addClass("row article_row");

            var colContent = $("<div>");
            var colButton = $("<div>");

            $(colContent).addClass("col-10 content-div");
            $(colButton).addClass("col-2");



            var rowContent = $("<div>");
            var rowButtons = $("<div>");
            
            
            $(rowContent).addClass("row");
            $(rowButtons).addClass("row");



            var articleTitle = $("<a>");
            
            $(articleTitle).addClass("col-12 title-div");

            $(articleTitle).text(data[i].title);

            $(articleTitle).attr("href", data[i].link);



            var articleSummary = $("<span>");
            
            $(articleSummary).addClass("col-12 summary-div");
            
            $(articleSummary).text(data[i].summary);

            
            $(rowContent).append(articleTitle);
            $(rowContent).append(articleSummary);
            $(colContent).append(rowContent);
            


            var note = $("<a>");

            $(note).addClass("btn btn-light col-12 btn-lg add-note");

            $(note).attr("type","button");

            $(note).text("NOTE");

            $(note).attr("obj_id",data[i]._id);


            var unsaveArticle = $("<a>");

            $(unsaveArticle).addClass("btn btn-light col-12 btn-lg unsave-btn");

            $(unsaveArticle).attr("type","button");

            $(unsaveArticle).text("UNSAVE");

            $(unsaveArticle).attr("obj_id",data[i]._id);


            $(rowButtons).append(unsaveArticle);
            $(rowButtons).append(note);
            $(colButton).append(rowButtons);


            $(row).append(colContent);
            $(row).append(colButton);

            
            $("#divContent").append(row);

        }

        
        // location.reload();

    }



    function noScrappedDocuments(){

        var row = $("<div>");
        
        $(row).addClass("row");

        var div = $("<div>");
        
        $(div).addClass("col-12");

        $(div).attr("id","noArticlesDisplay");

        $(div).text("Uh Oh. Looks like we don't have any new articles");


        $(row).append(div);
        $("#divContent").append(row);


    }


    function getArticles(){

        console.log("In getArticles");

        var urlPath = "/savedarticle";
        var ajaxType = "GET";

        $.ajax({
            url: urlPath,
            type: ajaxType,
            success: function(response){

                console.log("In success saved page");
                console.log(response);

                if(response.length > 0){

                    displayScrappedDocuments(response);

                }
                else{

                    noScrappedDocuments();

                }
                
            }
        });
        
    };



    $(document).ready(function(){
        getArticles();
    })


</script>