


#indexMainImg{
  background-image: url("../img/newspapers_xl.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  font-family: 'Bad Script', cursive; 
}



.navbar{
  /* min-height will allow the toggle to expand and contract */
  min-height: 8vh !important; 
  font-weight: bolder;
}

.navbar-brand{
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  
}

.nav-item{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}



.article-bottom-col{
  /* background-color: #7e7e7e !important; */
  color: #070707;
  font-size: 20px;
}

.article-top-col{
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  /* background-color: wheat */
}

.article-top-col a{
  color: black !important;
}

.article-top-col .save-btn{
  line-height: 20px !important;
  color: #fefefe !important;
}


.article_row{
    margin-bottom: 50px;
}


.module {
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    position: relative;
    margin-bottom: 50px;
  }
  .module::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/img/newspaper_tophalf.jpg");
    background-size: cover;
    filter: brightness(0.2) !important;
  }
  .module-inside {
    position: relative;
    /* font: bold 42px sans-serif; */
    font-family: 'Montserrat', sans-serif;
  }


h1, h3{
    color: #fefefe !important;
}


/* h1{
    font-size: 150px;
    font-weight: bolder;
}

h3 {
    font-size: 45px;
} */
