
    .article_row{
        font-family:sans-serif;
    }
    
    .content-div{
        margin-bottom: 50px;
    }

    .title-div{
        font-size: xx-large;
        background-color: #3882f2 ;
        color: #fefefe;
    }

    .content-div, a, span {
        
    }

    .add-note,.unsave-btn{
        line-height: 10px !important;
        margin-bottom: 5px;
        color: black
    }
