


#indexMainImg{
    background-image: url("../img/newspapers_xl.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60vw;
    font-family: 'Bad Script', cursive; 
}


.save-btn{
    line-height: 10px !important;
}

.article_row{
    margin-bottom: 10px;
}

.img-fluid{
    filter: brightness(0.2) !important;
}
